In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.simplefilter("ignore")

In [2]:
dataset = pd.read_excel("Train_dataset.xlsx",sheet_name='Train_Aug10')

In [3]:
dataset.shape

(7383, 15)

In [4]:
dataset.head()

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
0,AA1,NYSE,Real Estate,700.29,12765.84,32.38,45.35,1208599.0,5.05,-0.43,0.0520,1.0,0.61,9.20,156.987852
1,AA2,NYSE,Information Tech,214.52,12765.84,33.25,170.56,13753356.0,3.10,0.23,0.0164,1.0,NaN,6.91,560.859622
2,AA3,NYSE,Information Tech,943.42,12765.84,88.27,143.58,6892003.0,7.70,0.23,0.0396,1.0,NaN,6.09,1279.732874
3,AA4,BSE,Materials,828.13,38182.08,73.66,151.76,8316793.0,4.80,0.03,0.0431,74.9,1.11,5.60,1121.787632
4,AA5,S&P 500,Real Estate,NaN,3351.28,23.79,NaN,3943312.0,8.06,-0.43,0.0244,1.0,1.07,9.46,382.962534

In [5]:
dataset.tail()

,Stock Index,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
7378,AC3230,NSE,Healthcare,773.91,11270.15,40.28,61.37,19212221.0,4.34,0.78,0.0340,74.9,0.98,NaN,248.019321
7379,AC3231,JSE,Information Tech,61.97,55722.00,79.56,62.90,8108942.0,3.48,0.23,0.0528,17.7,0.84,NaN,494.555631
7380,AC3232,JSE,Materials,131.99,55722.00,26.16,198.77,8382586.0,3.04,0.03,0.0359,17.7,1.22,NaN,500.869063
7381,AC3233,S&P 500,Materials,643.72,3351.28,29.24,38.83,18638400.0,2.66,0.03,0.0581,1.0,1.04,NaN,113.170686
7382,AC3234,S&P 500,Information Tech,126.46,3351.28,23.30,105.83,14707806.0,7.51,0.23,0.0490,1.0,1.23,NaN,236.641085

In [6]:
dataset.describe()

,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
count,7345.000000,7321.000000,7322.000000,7149.000000,7.115000e+03,6984.000000,7007.000000,7312.000000,7306.000000,7298.000000,7358.000000,7383.000000
mean,486.188167,24218.079195,54.746004,105.543623,1.041827e+07,5.436840,0.140654,0.038496,33.991103,0.944722,4.996782,569.522650
std,278.280638,19602.174448,25.865877,55.284466,5.689059e+06,1.655755,0.384544,0.013406,34.036816,0.202732,2.616719,423.896621
min,5.250000,3351.280000,10.010000,10.020000,5.291170e+05,2.560000,-0.430000,0.015200,1.000000,0.600000,0.450000,10.573482
25%,247.100000,11270.150000,32.722500,57.630000,5.577644e+06,4.020000,0.030000,0.026900,1.000000,0.770000,2.762500,223.516594
50%,488.380000,12765.840000,54.510000,105.770000,1.048238e+07,5.440000,0.110000,0.038400,17.700000,0.940000,5.020000,458.716483
75%,724.020000,38182.080000,77.397500,154.130000,1.529882e+07,6.870000,0.230000,0.050200,74.900000,1.120000,7.217500,827.927051
max,965.210000,55722.000000,99.980000,199.970000,2.015445e+07,8.330000,0.780000,0.061500,74.900000,1.290000,9.560000,1970.400563

In [7]:
dataset.columns

Index(['Stock Index', 'Index', 'Industry', 'VWAP', 'General Index', 'NAV',
       'P/E Ratio', 'Volumes Traded', 'Inventory Turnover',
       'Covid Impact (Beta)', 'Tracking Error', 'Dollar Exchange Rate',
       'Put-Call Ratio', 'P/B Ratio', 'Stock Price'],
      dtype='object')

In [8]:
dataset.isna().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     38
General Index            62
NAV                      61
P/E Ratio               234
Volumes Traded          268
Inventory Turnover      399
Covid Impact (Beta)     376
Tracking Error           71
Dollar Exchange Rate     77
Put-Call Ratio           85
P/B Ratio                25
Stock Price               0
dtype: int64

In [9]:
dataset.dtypes

Stock Index              object
Index                    object
Industry                 object
VWAP                    float64
General Index           float64
NAV                     float64
P/E Ratio               float64
Volumes Traded          float64
Inventory Turnover      float64
Covid Impact (Beta)     float64
Tracking Error          float64
Dollar Exchange Rate    float64
Put-Call Ratio          float64
P/B Ratio               float64
Stock Price             float64
dtype: object

In [10]:
dataset['General Index'].unique()

array([12765.84, 38182.08,  3351.28, 11270.15, 55722.  ,      nan])

In [11]:
'''Replacing null values with app. values in General Index'''

d = {"BSE":38182.08,"JSE":55722,"NSE":11270.15,"NYSE":12765.84,"S&P 500":3351.28}
gi_null = [i for i in dataset.index if pd.isnull(dataset['General Index'][i])]
for i in gi_null:
    dataset['General Index'][i] = d[dataset['Index'][i]]

In [12]:
dataset.isna().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     38
General Index             0
NAV                      61
P/E Ratio               234
Volumes Traded          268
Inventory Turnover      399
Covid Impact (Beta)     376
Tracking Error           71
Dollar Exchange Rate     77
Put-Call Ratio           85
P/B Ratio                25
Stock Price               0
dtype: int64

In [13]:
dataset['Dollar Exchange Rate'].unique()

array([ 1. , 74.9,  nan, 17.7])

In [14]:
'''Replacing null values with app. values in Dollar Exchange Rate'''

d = {"BSE":74.9,"JSE":17.7,"NSE":74.9,"NYSE":1,"S&P 500":1}
der_null = [i for i in dataset.index if pd.isnull(dataset['Dollar Exchange Rate'][i])]
for i in der_null:
    dataset['Dollar Exchange Rate'][i] = d[dataset['Index'][i]]

In [15]:
dataset.isna().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     38
General Index             0
NAV                      61
P/E Ratio               234
Volumes Traded          268
Inventory Turnover      399
Covid Impact (Beta)     376
Tracking Error           71
Dollar Exchange Rate      0
Put-Call Ratio           85
P/B Ratio                25
Stock Price               0
dtype: int64

In [16]:
ind_num=dataset.select_dtypes(include=['int64','float64']).columns
ind_num

Index(['VWAP', 'General Index', 'NAV', 'P/E Ratio', 'Volumes Traded',
       'Inventory Turnover', 'Covid Impact (Beta)', 'Tracking Error',
       'Dollar Exchange Rate', 'Put-Call Ratio', 'P/B Ratio', 'Stock Price'],
      dtype='object')

In [17]:
from sklearn import preprocessing
for i in ind_num:
    dataset[i].fillna(dataset[i].mean(),inplace=True)

In [18]:
dataset.isna().sum()

Stock Index             0
Index                   0
Industry                0
VWAP                    0
General Index           0
NAV                     0
P/E Ratio               0
Volumes Traded          0
Inventory Turnover      0
Covid Impact (Beta)     0
Tracking Error          0
Dollar Exchange Rate    0
Put-Call Ratio          0
P/B Ratio               0
Stock Price             0
dtype: int64

In [19]:
dataset.drop(columns=['Stock Index'],inplace=True)

In [20]:
ind=dataset.select_dtypes(include=['object']).columns 
for i in ind:
    dataset[i] = dataset[i].astype('category').cat.codes

Index(['Index', 'Industry'], dtype='object')

In [22]:
dataset.dtypes

Index                      int8
Industry                   int8
VWAP                    float64
General Index           float64
NAV                     float64
P/E Ratio               float64
Volumes Traded          float64
Inventory Turnover      float64
Covid Impact (Beta)     float64
Tracking Error          float64
Dollar Exchange Rate    float64
Put-Call Ratio          float64
P/B Ratio               float64
Stock Price             float64
dtype: object

In [23]:
dataset.head()

,Index,Industry,VWAP,General Index,NAV,P/E Ratio,Volumes Traded,Inventory Turnover,Covid Impact (Beta),Tracking Error,Dollar Exchange Rate,Put-Call Ratio,P/B Ratio,Stock Price
0,3,4,700.290000,12765.84,32.38,45.350000,1208599.0,5.05,-0.43,0.0520,1.0,0.610000,9.20,156.987852
1,3,2,214.520000,12765.84,33.25,170.560000,13753356.0,3.10,0.23,0.0164,1.0,0.944722,6.91,560.859622
2,3,2,943.420000,12765.84,88.27,143.580000,6892003.0,7.70,0.23,0.0396,1.0,0.944722,6.09,1279.732874
3,0,3,828.130000,38182.08,73.66,151.760000,8316793.0,4.80,0.03,0.0431,74.9,1.110000,5.60,1121.787632
4,4,4,486.188167,3351.28,23.79,105.543623,3943312.0,8.06,-0.43,0.0244,1.0,1.070000,9.46,382.962534

In [24]:
target=dataset['Stock Price']
features=dataset.drop(columns=['Stock Price'])

In [25]:
print(target.shape)
print(features.shape)

(7383,)
(7383, 13)

In [26]:
from sklearn.model_selection  import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, random_state=42, test_size=.2)

In [27]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(5906, 13)
(1477, 13)
(5906,)
(1477,)

In [28]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [29]:
'''SGD Regressor'''
from sklearn.linear_model import SGDRegressor
sgd=SGDRegressor()
model=sgd.fit(x_train,y_train)
pred = model.predict(x_test)
train_pred=sgd.predict(x_train)
train_pred=sgd.predict(x_test)
print('Testing error_RootMeanSquareError', np.sqrt(mean_squared_error(y_test,train_pred)))

Testing error_RootMeanSquareError 2.0401261580817374e+22

In [30]:
'''Testing the final test data'''
dataset_test = pd.read_excel("Test_dataset.xlsx",sheet_name='Test_Aug10')

In [31]:
dataset_test.columns

Index(['Stock Index', 'Index', 'Industry', 'VWAP', 'General Index', 'NAV',
       'P/E Ratio', 'Volumes Traded', 'Inventory Turnover',
       'Covid Impact (Beta)', 'Tracking Error', 'Dollar Exchange Rate',
       'Put-Call Ratio', 'P/B Ratio'],
      dtype='object')

In [32]:
dataset_test.shape

(3331, 14)

In [33]:
dataset_test.isna().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     12
General Index           271
NAV                     275
P/E Ratio               292
Volumes Traded           48
Inventory Turnover       30
Covid Impact (Beta)      31
Tracking Error          126
Dollar Exchange Rate    143
Put-Call Ratio          429
P/B Ratio               138
dtype: int64

In [34]:
'''Replacing null values with app. values in General Index'''

d = {"BSE":38182.08,"JSE":55722,"NSE":11270.15,"NYSE":12765.84,"S&P 500":3351.28}
gi_null = [i for i in dataset_test.index if pd.isnull(dataset_test['General Index'][i])]
for i in gi_null:
    dataset_test['General Index'][i] = d[dataset_test['Index'][i]]

In [35]:
'''Replacing null values with app. values in Dollar Exchange Rate'''

d = {"BSE":74.9,"JSE":17.7,"NSE":74.9,"NYSE":1,"S&P 500":1}
der_null = [i for i in dataset_test.index if pd.isnull(dataset_test['Dollar Exchange Rate'][i])]
for i in der_null:
    dataset_test['Dollar Exchange Rate'][i] = d[dataset_test['Index'][i]]

In [36]:
dataset_test.isna().sum()

Stock Index               0
Index                     0
Industry                  0
VWAP                     12
General Index             0
NAV                     275
P/E Ratio               292
Volumes Traded           48
Inventory Turnover       30
Covid Impact (Beta)      31
Tracking Error          126
Dollar Exchange Rate      0
Put-Call Ratio          429
P/B Ratio               138
dtype: int64

In [37]:
ind_num=dataset_test.select_dtypes(include=['int64','float64']).columns
print(ind_num)
from sklearn import preprocessing
for i in ind_num:
    dataset_test[i].fillna(dataset_test[i].mean(),inplace=True)

Index(['VWAP', 'General Index', 'NAV', 'P/E Ratio', 'Volumes Traded',
       'Inventory Turnover', 'Covid Impact (Beta)', 'Tracking Error',
       'Dollar Exchange Rate', 'Put-Call Ratio', 'P/B Ratio'],
      dtype='object')

In [38]:
dataset_test.isna().sum()

Stock Index             0
Index                   0
Industry                0
VWAP                    0
General Index           0
NAV                     0
P/E Ratio               0
Volumes Traded          0
Inventory Turnover      0
Covid Impact (Beta)     0
Tracking Error          0
Dollar Exchange Rate    0
Put-Call Ratio          0
P/B Ratio               0
dtype: int64

In [39]:
'''Result Dataframe'''
res_id=dataset_test['Stock Index']

In [40]:
dataset_test.drop(columns=['Stock Index'],inplace=True)
ind=dataset_test.select_dtypes(include=['object']).columns 
for i in ind:
    dataset_test[i] = dataset_test[i].astype('category').cat.codes
print(dataset_test.dtypes)

Index                      int8
Industry                   int8
VWAP                    float64
General Index           float64
NAV                     float64
P/E Ratio               float64
Volumes Traded          float64
Inventory Turnover      float64
Covid Impact (Beta)     float64
Tracking Error          float64
Dollar Exchange Rate    float64
Put-Call Ratio          float64
P/B Ratio               float64
dtype: object

In [41]:
res_data=dataset_test

In [42]:
res_data['Stock Price']=sgd.predict(res_data)
result=pd.DataFrame({'Stock Index':res_id, 'Infect_prob':res_data['Stock Price']})
result.to_csv('result_p1.csv', index=False)